* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background-holder {
  width: 100%;
  height: 100%;
  background-image: url("../images/sliderImages/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overLayer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
