/*product details*/
* {
  font-family: "Open Sans", sans-serif;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
#product-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#big-img {
  width: 500px;
  height: 400px;
  border-radius: 20px;
}
/* #smal-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */
#smal-images img {
  width: 118px;
  height: 100px;
  border: 1px solid black;
  margin: 10px 5px;
  border-radius: 10px;
}
#product-details {
  width: 450px;
}
#product-details h1,
#product-details p,
#product-details h3 {
  margin-bottom: 20px;
}
#product-details p {
  font-size: 20px;
  font-weight: bold;
  /* letter-spacing: 0.5px; */
  line-height: 1.2;
  word-spacing: 2px;
}
#set-data {
  margin-top: 60px;
  width: 200px;
  height: 40px;
  background-color: #feee00;
  border: none;
  font-size: 17px;
  border-radius: 5%;
}
#product-price {
  font-size: 30px;
}
.total-price #descount {
  color: #feee00;
  font-size: 30px;
  margin-left: 20px;
}
.total-price {
  display: flex;
}
#prog {
  height: 30px;
  accent-color: #feee00;
  margin-left: 10px;
}
#price-value {
  text-decoration: line-through;
  font-size: 30px;
  margin-left: 10px;
}
.rating {
  display: flex;
}
